<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appp"
        tools:targetApi="31">
        <activity
            android:name=".Historial"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false"
            android:label="perfil"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".Confirmacion"
            android:exported="false" />
        <activity
            android:name=".DetalleServicio"
            android:exported="false" />
        <activity
            android:name=".DetalleSalon"
            android:exported="false" />
        <activity
            android:name=".RegistroServicio"
            android:exported="false"
            android:label="registroServicio"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".InicioPrestador"
            android:exported="false"
            android:label="inicioPrestador"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".ServicioMascotas"
            android:exported="false"
            android:label="servicioMascotas"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".ClinicasMedicas"
            android:exported="false"
            android:label="clinicas"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".Barberias"
            android:exported="false"
            android:label="barberias"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".Salones"
            android:exported="false"
            android:label="salones"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".Inicio"
            android:exported="false"
            android:label="inicio"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.Appp" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>